<div class="banner"
     style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
     url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1 class='text-center'><%= @garden.name %></h1>

    <div class="w-50 m-auto text-end">
      <%= link_to 'Add a plant', new_garden_plant_path(@garden), class: 'text-white btn btn-primary' %> |
      <%= link_to 'Edit', edit_garden_path(@garden), class: 'btn btn-secondary' %> |
      <%= link_to 'Back', gardens_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>

<div class="cards mt-3 mx-3">
  <% @garden.plants.each do |plant| %>
    <div class="card-trip">
      <img src="<%= plant.photo_url %>" />
      <%= link_to '✖',
                    plant_path(plant.id),
                    method: :delete,
                    class: 'btn btn-danger delete-btn',
                    data: { confirm: 'Are you sure?' } %>
      <div class="card-trip-infos">
        <div>
          <h2><%= plant.name %></h2>
        </div>
        <h2 class="card-trip-pricing">
          <%= link_to '+Tag', new_plant_plant_tag_path(plant.id) %>
        </h2>

      </div>

      <div class="card-tags">
        <% plant.tags.each do |tag| %>
          <span>
            <%= tag.name %>
          </span>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
